/****** General ***********/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css?family=Amatic+SC");

* {
  font-family: "Roboto";
}

:root {
  --main-color: #9356dc;
  --filter-bg-color: #deebff;
  --main-bg-color: #f6f6f6;
}

h1 {
  font-size: 24px;
  font-weight: 700;
}
h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 300;
}

p {
  font-size: 16px;
  font-weight: 500;
}

body {
  margin: 0;
}

/********************* Loader **************************/

.loader__div {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  animation: reveal 3s forwards;
  z-index: 9999;
  display: flex; 
  align-items: center; 
  justify-content: center; 
}

@keyframes reveal {
  0% {
    display: flex;
  }
  100% {
    display: none; /* Hide the loader after the animation */
  }
}

svg.tea {
  --secondary: #33406F;
  // transform: scale(2);

  #teabag {
    transform-origin: top center;
    transform: rotate(3deg);
    animation: swing 2s infinite;
  }

  #steamL {
    stroke-dasharray: 13;
    stroke-dashoffset: 13;
    animation: steamLarge 2s infinite;
  }

  #steamR {
    stroke-dasharray: 9;
    stroke-dashoffset: 9;
    animation: steamSmall 2s infinite;
  }
}

@keyframes swing {
  50% {
    transform: rotate(-3deg);
  }
}

@keyframes steamLarge {
  0% {
    stroke-dashoffset: 13;
    opacity: 0.6;
  }
  100% {
    stroke-dashoffset: 39;
    opacity: 0;
  }
}

@keyframes steamSmall {
  10% {
    stroke-dashoffset: 9;
    opacity: 0.6;
  }
  80% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 27;
    opacity: 0;
  }
}





.main-container {
  transition: all 1s ease-in;
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
}

.header__logo {
	width: 100%;
	text-align: center;
	background-color: white;
	box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
	padding: 14px 0;
	img {
		max-width: 100%;
		width: 162px;
		height: 36px;
	}
}

.header__location {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #eaeaea;
  width: 100%;
}

.header__location p,
.fa-location-dot {
  color: #353535;
}

.hero {
  text-align: center;
  padding: 39px 20px 57px;
}

.hero__content h1 {
  margin: 0;
}

.hero__content p {
  font-size: 18px;
  padding-bottom: 15px;
  font-weight: 300;
  margin: 27px 0;
}

.btn {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  border: none;
  padding: 15px 18px;
  width: 218px;
  border-radius: 25px;
  background: var(
    --Button-Gradient,
    linear-gradient(193deg, #ff79da -11.44%, #9356dc 123.93%)
  );
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
}
 
.btn:hover {
  opacity: 80%;
  box-shadow: 0 0 15px #ff79da;
}


/************* Processus *************/
.process__section {
  background-color: #ffffff;
  padding: 48px 20px;
}

.process__numbered-list {
  list-style-type: none;
  counter-reset: list-counter;
  padding: 0;
}

.process__item {
  counter-increment: list-counter;
  margin-bottom: 20px;
  position: relative;
}

.process__item-content {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px 50px;
  border-radius: 20px;
  background: var(--main-bg-color);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  gap: 10px;
}

.process__item::before {
  content: counter(list-counter);
  font-size: 1em;
  font-weight: bold;
  background-color: var(--main-color);
  color: #fff;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
}

.process__item .fas {
  font-size: 1em;
  color: #7e7e7e;
}

.process__item:hover i {
  color: var(--main-color);
}

/******** Generic card styles **********/
.card {
  text-decoration: none;
  color: inherit;
  z-index: 1;
}

.card__content {
  position: relative;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card__image {
  width: 100%;
  height: 192px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.card__txt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.card__subtitle {
  font-size: 17px;
  font-weight: 300;
  margin: 0;
}

.fa-heart {
  font-size: 22px;
}

.card__new-tag {
  position: absolute;
  top: 12px;
  right: 12px;
  display: inline-block;
  border-radius: 2px;
  background: var(--Green, #99e2d0);
  color: var(--Green-Font, #008766);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  padding: 7px 9px;
  border-radius: 2px;
}

/************* Restaurants *************/

.restaurants__section {
  padding: 48px 20px;
}

.restaurants__title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.restaurants__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.restaurants-cards__div{
  flex:1;
  position: relative;
}

/********Like Button******/



.btn__like {
  cursor: pointer;
  position: absolute;
    right: 30px;
    bottom: 30px;
}

.btn__like input {
  display: none;
}

.btn__like label {
  display: flex;
  align-items: center;
}

.btn__like i.fas {
  font-size: 24px;
  color: #d151ef;
  display: none;
  transition: transform 0.3s ease-in-out;
}

.btn__like i.far {
  font-size: 24px;
  color: #000;
  transition: transform 0.3s ease-in-out;
}

.btn__like input:checked + label i.fas {
  display: inline-block;
  transform: scale(1.1);
}

.btn__like input:checked + label i.far {
  display: none;
}

.btn__like:hover i.far {
  color: var(--main-color);
  transform: scale(1.1);
}

.footer {
  background-color: #353535;
  padding: 22px 25px;
}

.footer__logo--omf {
  width: 139px;
}

.footer__list {
  list-style: none;
  color: white;
  padding: 0;
}

.footer__item {
	margin-bottom: 7px;
	.fa-solid {
		margin-right: 11px;
	}
	.fa-utensils {
		margin-right: 17px;
	}
	a {
		text-decoration: none;
		font-size: 16px;
		font-weight: 400;
		color: white;
	}
}
.footer__copyright {
  color: white;
}




/******************** Food list pages *************/

.food-list__main {
  display: flex;
  flex-direction: column;
}

/************** header ************/
.food-list__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  color: black;
}

.food-list-header__logo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}

.food-list-header__logo img {
  max-width: 100%;
  width: 162px;
  height: 36px;
  z-index: 0;
}

.fa-arrow-left {
  font-size: 25px;
  color: black;
  height: auto;
  cursor: pointer;
}

.food-list__div--hero-content {
  display: flex;
  z-index: 0;
}

.food-list__div--hero-content img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

/**********Food list title*********/

.food-list__div {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: var(--main-bg-color);
  border-radius: 30px;
  z-index: 2;
  margin-top: -50px;
  padding: 0 17px;
}

.food-list__div--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.food-list__title h1 {
  padding-top: 32px;
  margin: 0;
  color: var(--Black, #101010);
  font-family: "Shrikhand", sans-serif;
  font-size: 28px;
  font-weight: 400;
}

/************ food list btn like heart***************/
.food-list__btn-like{
  cursor: pointer;
}

.food-list__btn-like input {
  display: none;
}
.food-list__btn-like label {
  display: flex;
  align-items: center;
}

.food-list__btn-like i.fas {
  font-size: 24px;
  color: #d151ef;
  display: none;
  transition: transform 0.3s ease-in-out;
}

.food-list__btn-like i.far {
  font-size: 24px;
  color: #000;
  transition: transform 0.3s ease-in-out;
}

.food-list__btn-like input:checked + label i.fas {
  display: inline-block;
  transform: scale(1.1);
}

.food-list__btn-like input:checked + label i.far {
  display: none;
}

.food-list__btn-like:hover i.far {
  color: var(--main-color);
  transform: scale(1.1);
}

/***************food list items**************/
.food-list__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.food-list__subtitle {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  border-bottom: 2px solid #99e2d0;
  width: 10%;
  margin: 0;
}

.food-list__numbered-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.food-list__item {
  display: flex;
  flex-direction: row;
  opacity: 0;
  animation: fadeInUp 0.5s forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Add a delay for each card */
.food-list__item:nth-child(1) {
  animation-delay: 0.2s;
}

.food-list__item:nth-child(2) {
  animation-delay: 0.4s;
}

.food-list__item:nth-child(3) {
  animation-delay: 0.6s;
}

.food-list__item:nth-child(4) {
  animation-delay: 0.8s;
}

.food-list__item-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.food-list__item-content h3 {
  margin: 0 0 5px 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 500;
}

.food-list__item-content p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 300;
}

.euro {
  font-weight: 700;
}

.food-list__btn {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  height: 69px;
  position: relative;
  border-radius: 20px;
  margin-bottom: 20px;
  background: white;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  overflow: hidden;
}

.button-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  transition: margin-right 0.3s ease-out;
  padding: 15px;
  overflow: hidden;
}

.food-list__price {
  font-weight: 700;
  margin-right: 10px;
  transition: margin-left 0.3s ease-out;
}


/**************** Selecteur de plats *************/

.check-mark {
  width: 0;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  align-items: center;
  background-color: #99e2d0;
  color: #fff;
  overflow: hidden;
  animation-direction: normal;
  transition: all 0.3s ease-in-out;
}

.food-list__btn:hover .check-mark {
  width: 50px;
  animation-direction: reverse;
}

.fa-circle-check {
  color: white;
  font-size: 25px;
}

/*************** Order button *************/

.order__btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.btn:hover {
  opacity: 80%;
  box-shadow: 0 0 15px #ff79da;
}

@media (min-width: 1440px) {
  .hero {
    text-align: center;

  }

  .hero__content h1 {
    font-size: 40px;
  }

  /****************Processus****************/

  .process__section {
    padding: 50px 180px;
  }

  .process__title {
    margin-bottom: 25px;
  }

  .process__numbered-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 36px;
    counter-reset: list-counter;
    padding: 0;
  }

  .process__item {
    flex: 1;
  }

  .process__item-content {
    gap: 20px;
  }

  /******************Restaurants**************/

  .restaurants__section {
    display: flex;
    flex-direction: column;
    padding: 30px 180px;
    align-items: stretch;
  }

  .restaurants__cards {
    display: flex;
    flex-direction: row;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .card {
    flex: 1;
  }

  .card__image {
    width: 100%;
    min-width: 498px;
    height: 231px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: center;
    padding: 30px 25px;
  }

  .footer__list {
    list-style: none;
    color: white;
    display: flex;
    padding: 0px 85px;
    margin: 30px 30px 0 0;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 16px;
    flex-shrink: 0;
  }

  .footer__item {
    margin-bottom: 0;
  }

  .footer__logo--omf {
    margin-top: 30px;
  }

  /**************food-list Responsive*******************/

  .food-list__section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    padding: 0 193px;
  }

  .food-list__div {
    width: 1055px;
    padding: 51px 210px;
  }

  .food-list__div--title {
    justify-content: center;
    gap: 20px;
  }
  .food-list__div--hero-content img {
    width: 100%;
    height: 480px;
  }
}
